In [5]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns 
%matplotlib inline

In [2]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.3.3-cp312-cp312-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.3.3-cp312-cp312-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\dataanalysis\python\venv\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in d:\dataanalysis\python\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.3-cp312-cp312-win_amd64.whl (11.0 MB)
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
    --------------------------------------- 0.3/11.0 MB ? eta -:--:--
   -- ------------------------------------- 0.8/11.0 MB 1.9 MB/s eta 0:00:06
   ---- ----------------------------------- 1.3/11.0 MB 2.2 MB/s eta 0:00:05
   ------ --------------------------------- 1.8/11.0 MB 2.5 MB/s eta 0:00:04
   --------- ------------------------------ 2.6/11.0 MB 2.7 MB/s eta 0:00:04
   ------------ --------------------------- 3.4/11.0 MB 2.8 MB/s eta 0:00:03
   --------------- ------------------------ 4.2/11.0 MB 3.0 MB/s eta 0:00:03
   ------------------ --------------------- 5.0/11.0 MB 3.2 MB/s eta 0:00:02
   --------------------- ------------------ 6.0/11.0 MB 3.4 MB/s eta 0:00:02
   -------------------------- ------------- 7.3/11.0 MB 3.7 MB/s eta 0:00:01
   ------------------------------ --------- 8.4/11.0 MB 3.9 MB/s eta 0:00:01
   --------------------------------- ------ 9.2/11.0 MB 4.0 MB/s eta 0:00:01
   -------------------------------------- - 10.5/11.0 MB 4.1 MB/s eta 0:00:01
   ---------------------------------------- 11.0/11.0 MB 4.0 MB/s  0:00:02
Downloading numpy-2.3.3-cp312-cp312-win_amd64.whl (12.8 MB)
   ---------------------------------------- 0.0/12.8 MB ? eta -:--:--
   --- ------------------------------------ 1.0/12.8 MB 7.1 MB/s eta 0:00:02
   ----- ---------------------------------- 1.8/12.8 MB 5.6 MB/s eta 0:00:02
   -------- ------------------------------- 2.6/12.8 MB 4.4 MB/s eta 0:00:03
   ------------ --------------------------- 3.9/12.8 MB 5.1 MB/s eta 0:00:02
   --------------- ------------------------ 5.0/12.8 MB 5.1 MB/s eta 0:00:02
   ------------------ --------------------- 6.0/12.8 MB 5.1 MB/s eta 0:00:02
   ---------------------- ----------------- 7.1/12.8 MB 5.1 MB/s eta 0:00:02
   ------------------------- -------------- 8.1/12.8 MB 5.1 MB/s eta 0:00:01
   ----------------------------- ---------- 9.4/12.8 MB 5.3 MB/s eta 0:00:01
   -------------------------------- ------- 10.5/12.8 MB 5.3 MB/s eta 0:00:01
   ------------------------------------- -- 12.1/12.8 MB 5.4 MB/s eta 0:00:01
   ---------------------------------------- 12.8/12.8 MB 5.3 MB/s  0:00:02
Using cached pytz-2025.2-py2.py3-none-any.whl (509 kB)
Using cached tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, numpy, pandas

   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ---------------------------------------- 4/4 [pandas]

Successfully installed numpy-2.3.3 pandas-2.3.3 pytz-2025.2 tzdata-2025.2

In [3]:
!pip install matplotlib
!pip install seaborn

Collecting matplotlib
  Using cached matplotlib-3.10.6-cp312-cp312-win_amd64.whl.metadata (11 kB)
Collecting contourpy>=1.0.1 (from matplotlib)
  Using cached contourpy-1.3.3-cp312-cp312-win_amd64.whl.metadata (5.5 kB)
Collecting cycler>=0.10 (from matplotlib)
  Using cached cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Downloading fonttools-4.60.1-cp312-cp312-win_amd64.whl.metadata (114 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib)
  Using cached kiwisolver-1.4.9-cp312-cp312-win_amd64.whl.metadata (6.4 kB)
Requirement already satisfied: numpy>=1.23 in d:\dataanalysis\python\venv\lib\site-packages (from matplotlib) (2.3.3)
Requirement already satisfied: packaging>=20.0 in d:\dataanalysis\python\venv\lib\site-packages (from matplotlib) (25.0)
Collecting pillow>=8 (from matplotlib)
  Using cached pillow-11.3.0-cp312-cp312-win_amd64.whl.metadata (9.2 kB)
Collecting pyparsing>=2.3.1 (from matplotlib)
  Downloading pyparsing-3.2.5-py3-none-any.whl.metadata (5.0 kB)
Requirement already satisfied: python-dateutil>=2.7 in d:\dataanalysis\python\venv\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in d:\dataanalysis\python\venv\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Using cached matplotlib-3.10.6-cp312-cp312-win_amd64.whl (8.1 MB)
Using cached contourpy-1.3.3-cp312-cp312-win_amd64.whl (226 kB)
Using cached cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.60.1-cp312-cp312-win_amd64.whl (2.3 MB)
   ---------------------------------------- 0.0/2.3 MB ? eta -:--:--
   --------- ------------------------------ 0.5/2.3 MB 3.4 MB/s eta 0:00:01
   ------------------ --------------------- 1.0/2.3 MB 3.1 MB/s eta 0:00:01
   -------------------------------- ------- 1.8/2.3 MB 3.1 MB/s eta 0:00:01
   ---------------------------------------- 2.3/2.3 MB 3.2 MB/s  0:00:00
Using cached kiwisolver-1.4.9-cp312-cp312-win_amd64.whl (73 kB)
Using cached pillow-11.3.0-cp312-cp312-win_amd64.whl (7.0 MB)
Downloading pyparsing-3.2.5-py3-none-any.whl (113 kB)
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib

   ----- ---------------------------------- 1/7 [pillow]
   ----- ---------------------------------- 1/7 [pillow]
   ----- ---------------------------------- 1/7 [pillow]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------------- 7/7 [matplotlib]

Successfully installed contourpy-1.3.3 cycler-0.12.1 fonttools-4.60.1 kiwisolver-1.4.9 matplotlib-3.10.6 pillow-11.3.0 pyparsing-3.2.5
Collecting seaborn
  Using cached seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in d:\dataanalysis\python\venv\lib\site-packages (from seaborn) (2.3.3)
Requirement already satisfied: pandas>=1.2 in d:\dataanalysis\python\venv\lib\site-packages (from seaborn) (2.3.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in d:\dataanalysis\python\venv\lib\site-packages (from seaborn) (3.10.6)
Requirement already satisfied: contourpy>=1.0.1 in d:\dataanalysis\python\venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.3)
Requirement already satisfied: cycler>=0.10 in d:\dataanalysis\python\venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in d:\dataanalysis\python\venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.60.1)
Requirement already satisfied: kiwisolver>=1.3.1 in d:\dataanalysis\python\venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.9)
Requirement already satisfied: packaging>=20.0 in d:\dataanalysis\python\venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (25.0)
Requirement already satisfied: pillow>=8 in d:\dataanalysis\python\venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in d:\dataanalysis\python\venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.5)
Requirement already satisfied: python-dateutil>=2.7 in d:\dataanalysis\python\venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\dataanalysis\python\venv\lib\site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in d:\dataanalysis\python\venv\lib\site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: six>=1.5 in d:\dataanalysis\python\venv\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)
Using cached seaborn-0.13.2-py3-none-any.whl (294 kB)
Installing collected packages: seaborn
Successfully installed seaborn-0.13.2

In [10]:
df = pd.read_excel('flight_price.xlsx')

In [7]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl

   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   ---------------------------------------- 2/2 [openpyxl]

Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

In [11]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [14]:
df.info()
## No null data only price has the numerical data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [15]:
df['Date'] = df['Date_of_Journey'].str.split('/').str[0]

In [16]:
df.head(2)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1

In [17]:
df['Month'] = df['Date_of_Journey'].str.split('/').str[1]
df['Year'] = df['Date_of_Journey'].str.split('/').str[2]

In [18]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,03,2019
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,05,2019
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,9,06,2019
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218,12,05,2019
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302,01,03,2019

In [19]:
df.drop('Date', axis=1, inplace=True)

In [20]:
df.head(2)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Month,Year
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,03,2019
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,05,2019

In [21]:
df.drop('Date_of_Journey', axis=1, inplace=True)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Source           10683 non-null  object
 2   Destination      10683 non-null  object
 3   Route            10682 non-null  object
 4   Dep_Time         10683 non-null  object
 5   Arrival_Time     10683 non-null  object
 6   Duration         10683 non-null  object
 7   Total_Stops      10682 non-null  object
 8   Additional_Info  10683 non-null  object
 9   Price            10683 non-null  int64
 10  Month            10683 non-null  object
 11  Year             10683 non-null  object
dtypes: int64(1), object(11)
memory usage: 1001.7+ KB

In [23]:
df['Month'] = df['Month'].astype(int)
df['Year'] = df['Year'].astype(int)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Source           10683 non-null  object
 2   Destination      10683 non-null  object
 3   Route            10682 non-null  object
 4   Dep_Time         10683 non-null  object
 5   Arrival_Time     10683 non-null  object
 6   Duration         10683 non-null  object
 7   Total_Stops      10682 non-null  object
 8   Additional_Info  10683 non-null  object
 9   Price            10683 non-null  int64
 10  Month            10683 non-null  int64
 11  Year             10683 non-null  int64
 12  Hour             10683 non-null  object
 13  Minute           10683 non-null  object
dtypes: int64(3), object(11)
memory usage: 1.1+ MB

In [34]:
df['Arrival_Time'] = df['Arrival_Time'].apply(lambda x:x.split(' ')[0])

In [40]:
df['Arrival_Hour'] = df['Arrival_Time'].str.split(':').str[0]
df['Arrival_Minute'] = df['Arrival_Time'].str.split(':').str[1]

In [41]:
df.head(5)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Month,Year,Hour,Minute,Arrival_Hour,Arrival_Minute
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10,2h 50m,non-stop,No info,3897,3,2019,01,10,01,10
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,5,2019,13,15,13,15
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25,19h,2 stops,No info,13882,6,2019,04,25,04,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218,5,2019,23,30,23,30
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302,3,2019,21,35,21,35

In [ ]:
df.head()

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Month,Year,Hour,Minute
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,3,2019,01,10
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,5,2019,13,15
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,6,2019,04,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218,5,2019,23,30
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302,3,2019,21,35

In [42]:
df['Arrival_Hour'] = df['Arrival_Hour'].astype(int)
df['Arrival_Minute'] = df['Arrival_Minute'].astype(int)

In [ ]:
df.drop('Hour', axis=1, inplace=True)
df.drop('Minute', axis=1, inplace=True)
df.drop('Arrival_Time', axis=1, inplace=True)

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Source           10683 non-null  object
 2   Destination      10683 non-null  object
 3   Route            10682 non-null  object
 4   Dep_Time         10683 non-null  object
 5   Duration         10683 non-null  object
 6   Total_Stops      10682 non-null  object
 7   Additional_Info  10683 non-null  object
 8   Price            10683 non-null  int64
 9   Month            10683 non-null  int64
 10  Year             10683 non-null  int64
 11  Arrival_Hour     10683 non-null  int64
 12  Arrival_Minute   10683 non-null  int64
dtypes: int64(5), object(8)
memory usage: 1.1+ MB

In [50]:
df['Departure_Hour'] = df['Dep_Time'].str.split(':').str[0]
df['Departure_Minute'] = df['Dep_Time'].str.split(':').str[1]

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Airline           10683 non-null  object
 1   Source            10683 non-null  object
 2   Destination       10683 non-null  object
 3   Route             10682 non-null  object
 4   Dep_Time          10683 non-null  object
 5   Duration          10683 non-null  object
 6   Total_Stops       10682 non-null  object
 7   Additional_Info   10683 non-null  object
 8   Price             10683 non-null  int64
 9   Month             10683 non-null  int64
 10  Year              10683 non-null  int64
 11  Arrival_Hour      10683 non-null  int64
 12  Arrival_Minute    10683 non-null  int64
 13  Departure_Hour    10683 non-null  object
 14  Departure_Minute  10683 non-null  object
dtypes: int64(5), object(10)
memory usage: 1.2+ MB

In [51]:
df.head()

,Airline,Source,Destination,Route,Dep_Time,Duration,Total_Stops,Additional_Info,Price,Month,Year,Arrival_Hour,Arrival_Minute,Departure_Hour,Departure_Minute
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,2h 50m,non-stop,No info,3897,3,2019,1,10,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,7h 25m,2 stops,No info,7662,5,2019,13,15,05,50
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,19h,2 stops,No info,13882,6,2019,4,25,09,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,5h 25m,1 stop,No info,6218,5,2019,23,30,18,05
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,4h 45m,1 stop,No info,13302,3,2019,21,35,16,50

In [52]:
df['Departure_Hour'] = df['Departure_Hour'].astype(int)
df['Departure_Minute'] = df['Departure_Minute'].astype(int)

In [53]:
df.drop('Dep_Time', axis=1, inplace=True)

In [54]:
df.head(2)

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Month,Year,Arrival_Hour,Arrival_Minute,Departure_Hour,Departure_Minute
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,non-stop,No info,3897,3,2019,1,10,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2 stops,No info,7662,5,2019,13,15,5,50

In [55]:
df[df.Total_Stops.isnull()]

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Month,Year,Arrival_Hour,Arrival_Minute,Departure_Hour,Departure_Minute
9039,Air India,Delhi,Cochin,NaN,23h 40m,NaN,No info,7480,5,2019,9,25,9,45

In [56]:
df.Total_Stops.unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [57]:
# we are mapping the value respect to the quality of the stops .
# if the stops are less then the price tends to be cheap and if the stops are high the price is high
# using mode to find the value to replace with nan

df.Total_Stops.mode()

0    1 stop
Name: Total_Stops, dtype: object

In [58]:
df['Total_Stops'] = df['Total_Stops'].map({'non-stop':0, '1 stop': 1, '2 stops': 2, '3 stops': 3, '4 stops': 4, np.nan: 1  })

In [71]:
df.head(2)

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Month,Year,Arrival_Hour,Arrival_Minute,Departure_Hour,Departure_Minute,Duration_Hour,Duration_Minute
0,IndiGo,Banglore,New Delhi,2h 50m,0,No info,3897,3,2019,1,10,22,20,2,0.0
1,Air India,Kolkata,Banglore,7h 25m,2,No info,7662,5,2019,13,15,5,50,7,0.0

In [60]:
df[df.Total_Stops.isnull()]

Empty DataFrame
Columns: [Airline, Source, Destination, Route, Duration, Total_Stops, Additional_Info, Price, Month, Year, Arrival_Hour, Arrival_Minute, Departure_Hour, Departure_Minute]
Index: []

In [61]:
df.drop('Route', axis=1, inplace=True)

In [72]:
df['Duration_Hour'] = df['Duration'].str.split(' ').str[0].str.split('h').str[0]
df['Duration_Minute'] = df['Duration'].str.split(' ').str[1].str.split('m').str[0]

In [73]:
df['Duration_Minute'].unique()

array(['50', '25', nan, '45', '30', '5', '15', '35', '10', '20', '55',
       '40'], dtype=object)

In [74]:
df['Duration_Minute'] = df['Duration_Minute'].replace(np.nan, 0)

In [75]:
df['Duration_Minute'].unique()

array(['50', '25', 0, '45', '30', '5', '15', '35', '10', '20', '55', '40'],
      dtype=object)

In [76]:
df.drop('Duration', axis=1, inplace=True)

In [79]:
df['Duration_Hour'].unique()

array(['2', '7', '19', '5', '4', '15', '21', '25', '13', '12', '26', '22',
       '23', '20', '10', '6', '11', '8', '16', '3', '27', '1', '14', '9',
       '18', '17', '24', '30', '28', '29', '37', '34', '38', '35', '36',
       '47', '33', '32', '31', '42', '39', '5m', '41', '40'], dtype=object)

In [77]:
df['Duration_Hour'] = df['Duration_Hour'].astype(int)
df['Duration_Minute'] = df['Duration_Minute'].astype(int)

ValueError: invalid literal for int() with base 10: '5m'

In [ ]:
df[df['Duration_Hour'] == '5m']

,Airline,Source,Destination,Total_Stops,Additional_Info,Price,Month,Year,Arrival_Hour,Arrival_Minute,Departure_Hour,Departure_Minute,Duration_Hour,Duration_Minute
6474,Air India,Mumbai,Hyderabad,2,No info,17327,3,2019,16,55,16,50,5m,0

In [81]:
df['Duration_Hour'] = df['Duration_Hour'].replace('5m', 5)

In [82]:
df['Duration_Hour'] = df['Duration_Hour'].astype(int)
df['Duration_Minute'] = df['Duration_Minute'].astype(int)

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Airline           10683 non-null  object
 1   Source            10683 non-null  object
 2   Destination       10683 non-null  object
 3   Total_Stops       10683 non-null  int64
 4   Additional_Info   10683 non-null  object
 5   Price             10683 non-null  int64
 6   Month             10683 non-null  int64
 7   Year              10683 non-null  int64
 8   Arrival_Hour      10683 non-null  int64
 9   Arrival_Minute    10683 non-null  int64
 10  Departure_Hour    10683 non-null  int64
 11  Departure_Minute  10683 non-null  int64
 12  Duration_Hour     10683 non-null  int64
 13  Duration_Minute   10683 non-null  int64
dtypes: int64(10), object(4)
memory usage: 1.1+ MB

In [85]:
!pip install scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.7.2-cp312-cp312-win_amd64.whl.metadata (11 kB)
Requirement already satisfied: numpy>=1.22.0 in d:\dataanalysis\python\venv\lib\site-packages (from scikit-learn) (2.3.3)
Collecting scipy>=1.8.0 (from scikit-learn)
  Downloading scipy-1.16.2-cp312-cp312-win_amd64.whl.metadata (60 kB)
Collecting joblib>=1.2.0 (from scikit-learn)
  Using cached joblib-1.5.2-py3-none-any.whl.metadata (5.6 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Using cached threadpoolctl-3.6.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.7.2-cp312-cp312-win_amd64.whl (8.7 MB)
   ---------------------------------------- 0.0/8.7 MB ? eta -:--:--
   ---------------------------------------- 0.0/8.7 MB ? eta -:--:--
   - -------------------------------------- 0.3/8.7 MB ? eta -:--:--
   -- ------------------------------------- 0.5/8.7 MB 989.2 kB/s eta 0:00:09
   --- ------------------------------------ 0.8/8.7 MB 1.1 MB/s eta 0:00:08
   --- ------------------------------------ 0.8/8.7 MB 1.1 MB/s eta 0:00:08
   ---- ----------------------------------- 1.0/8.7 MB 1.0 MB/s eta 0:00:08
   ---- ----------------------------------- 1.0/8.7 MB 1.0 MB/s eta 0:00:08
   ---- ----------------------------------- 1.0/8.7 MB 1.0 MB/s eta 0:00:08
   ---- ----------------------------------- 1.0/8.7 MB 1.0 MB/s eta 0:00:08
   ------ --------------------------------- 1.3/8.7 MB 621.6 kB/s eta 0:00:12
   ------- -------------------------------- 1.6/8.7 MB 699.0 kB/s eta 0:00:11
   -------- ------------------------------- 1.8/8.7 MB 729.5 kB/s eta 0:00:10
   --------- ------------------------------ 2.1/8.7 MB 783.2 kB/s eta 0:00:09
   ---------- ----------------------------- 2.4/8.7 MB 818.6 kB/s eta 0:00:08
   ------------- -------------------------- 2.9/8.7 MB 922.1 kB/s eta 0:00:07
   -------------- ------------------------- 3.1/8.7 MB 951.4 kB/s eta 0:00:06
   --------------- ------------------------ 3.4/8.7 MB 987.0 kB/s eta 0:00:06
   ---------------- ----------------------- 3.7/8.7 MB 1.0 MB/s eta 0:00:06
   ------------------ --------------------- 3.9/8.7 MB 1.0 MB/s eta 0:00:05
   --------------------- ------------------ 4.7/8.7 MB 1.2 MB/s eta 0:00:04
   ------------------------ --------------- 5.2/8.7 MB 1.2 MB/s eta 0:00:03
   --------------------------- ------------ 6.0/8.7 MB 1.4 MB/s eta 0:00:02
   ------------------------------ --------- 6.6/8.7 MB 1.4 MB/s eta 0:00:02
   --------------------------------- ------ 7.3/8.7 MB 1.5 MB/s eta 0:00:01
   -------------------------------------- - 8.4/8.7 MB 1.7 MB/s eta 0:00:01
   ---------------------------------------- 8.7/8.7 MB 1.7 MB/s  0:00:05
Using cached joblib-1.5.2-py3-none-any.whl (308 kB)
Downloading scipy-1.16.2-cp312-cp312-win_amd64.whl (38.6 MB)
   ---------------------------------------- 0.0/38.6 MB ? eta -:--:--
    --------------------------------------- 0.8/38.6 MB 4.8 MB/s eta 0:00:08
   - -------------------------------------- 1.8/38.6 MB 4.8 MB/s eta 0:00:08
   -- ------------------------------------- 2.9/38.6 MB 4.8 MB/s eta 0:00:08
   --- ------------------------------------ 3.7/38.6 MB 4.7 MB/s eta 0:00:08
   ---- ----------------------------------- 4.5/38.6 MB 4.5 MB/s eta 0:00:08
   ----- ---------------------------------- 5.0/38.6 MB 4.0 MB/s eta 0:00:09
   ----- ---------------------------------- 5.8/38.6 MB 4.1 MB/s eta 0:00:09
   ------- -------------------------------- 6.8/38.6 MB 4.2 MB/s eta 0:00:08
   -------- ------------------------------- 7.9/38.6 MB 4.2 MB/s eta 0:00:08
   -------- ------------------------------- 8.7/38.6 MB 4.2 MB/s eta 0:00:08
   --------- ------------------------------ 9.2/38.6 MB 4.1 MB/s eta 0:00:08
   ---------- ----------------------------- 9.7/38.6 MB 3.9 MB/s eta 0:00:08
   ---------- ----------------------------- 10.2/38.6 MB 3.8 MB/s eta 0:00:08
   ----------- ---------------------------- 10.7/38.6 MB 3.7 MB/s eta 0:00:08
   ------------ --------------------------- 11.8/38.6 MB 3.8 MB/s eta 0:00:07
   ------------- -------------------------- 12.6/38.6 MB 3.8 MB/s eta 0:00:07
   ------------- -------------------------- 13.4/38.6 MB 3.9 MB/s eta 0:00:07
   -------------- ------------------------- 13.9/38.6 MB 3.8 MB/s eta 0:00:07
   -------------- ------------------------- 14.4/38.6 MB 3.7 MB/s eta 0:00:07
   --------------- ------------------------ 15.2/38.6 MB 3.7 MB/s eta 0:00:07
   ---------------- ----------------------- 16.3/38.6 MB 3.7 MB/s eta 0:00:06
   ----------------- ---------------------- 16.8/38.6 MB 3.7 MB/s eta 0:00:06
   ------------------ --------------------- 17.6/38.6 MB 3.7 MB/s eta 0:00:06
   ------------------ --------------------- 18.1/38.6 MB 3.7 MB/s eta 0:00:06
   ------------------- -------------------- 18.6/38.6 MB 3.6 MB/s eta 0:00:06
   -------------------- ------------------- 19.7/38.6 MB 3.6 MB/s eta 0:00:06
   --------------------- ------------------ 20.4/38.6 MB 3.7 MB/s eta 0:00:05
   ---------------------- ----------------- 21.2/38.6 MB 3.7 MB/s eta 0:00:05
   ---------------------- ----------------- 21.5/38.6 MB 3.7 MB/s eta 0:00:05
   ----------------------- ---------------- 22.5/38.6 MB 3.6 MB/s eta 0:00:05
   ----------------------- ---------------- 23.1/38.6 MB 3.6 MB/s eta 0:00:05
   ------------------------ --------------- 23.6/38.6 MB 3.6 MB/s eta 0:00:05
   ------------------------- -------------- 24.1/38.6 MB 3.5 MB/s eta 0:00:05
   ------------------------- -------------- 24.4/38.6 MB 3.5 MB/s eta 0:00:05
   -------------------------- ------------- 25.2/38.6 MB 3.5 MB/s eta 0:00:04
   -------------------------- ------------- 26.0/38.6 MB 3.5 MB/s eta 0:00:04
   --------------------------- ------------ 26.5/38.6 MB 3.5 MB/s eta 0:00:04
   --------------------------- ------------ 26.7/38.6 MB 3.5 MB/s eta 0:00:04
   ---------------------------- ----------- 27.0/38.6 MB 3.4 MB/s eta 0:00:04
   ---------------------------- ----------- 27.3/38.6 MB 3.4 MB/s eta 0:00:04
   ---------------------------- ----------- 27.5/38.6 MB 3.3 MB/s eta 0:00:04
   ---------------------------- ----------- 27.8/38.6 MB 3.2 MB/s eta 0:00:04
   ----------------------------- ---------- 28.0/38.6 MB 3.2 MB/s eta 0:00:04
   ----------------------------- ---------- 28.0/38.6 MB 3.2 MB/s eta 0:00:04
   ----------------------------- ---------- 28.0/38.6 MB 3.2 MB/s eta 0:00:04
   ----------------------------- ---------- 28.3/38.6 MB 3.0 MB/s eta 0:00:04
   ----------------------------- ---------- 28.6/38.6 MB 3.0 MB/s eta 0:00:04
   ------------------------------ --------- 29.4/38.6 MB 3.0 MB/s eta 0:00:04
   ------------------------------ --------- 29.6/38.6 MB 2.9 MB/s eta 0:00:04
   ------------------------------- -------- 29.9/38.6 MB 2.9 MB/s eta 0:00:03
   ------------------------------- -------- 30.1/38.6 MB 2.9 MB/s eta 0:00:03
   ------------------------------- -------- 30.4/38.6 MB 2.8 MB/s eta 0:00:03
   -------------------------------- ------- 30.9/38.6 MB 2.8 MB/s eta 0:00:03
   -------------------------------- ------- 31.2/38.6 MB 2.8 MB/s eta 0:00:03
   -------------------------------- ------- 31.2/38.6 MB 2.8 MB/s eta 0:00:03
   -------------------------------- ------- 31.5/38.6 MB 2.7 MB/s eta 0:00:03
   -------------------------------- ------- 31.5/38.6 MB 2.7 MB/s eta 0:00:03
   -------------------------------- ------- 31.7/38.6 MB 2.7 MB/s eta 0:00:03
   -------------------------------- ------- 31.7/38.6 MB 2.7 MB/s eta 0:00:03
   --------------------------------- ------ 32.0/38.6 MB 2.6 MB/s eta 0:00:03
   --------------------------------- ------ 32.2/38.6 MB 2.6 MB/s eta 0:00:03
   --------------------------------- ------ 32.8/38.6 MB 2.6 MB/s eta 0:00:03
   --------------------------------- ------ 32.8/38.6 MB 2.6 MB/s eta 0:00:03
   ---------------------------------- ----- 33.0/38.6 MB 2.5 MB/s eta 0:00:03
   ---------------------------------- ----- 33.3/38.6 MB 2.5 MB/s eta 0:00:03
   ----------------------------------- ---- 33.8/38.6 MB 2.5 MB/s eta 0:00:02
   ----------------------------------- ---- 34.3/38.6 MB 2.5 MB/s eta 0:00:02
   ------------------------------------ --- 34.9/38.6 MB 2.5 MB/s eta 0:00:02
   ------------------------------------ --- 35.1/38.6 MB 2.5 MB/s eta 0:00:02
   ------------------------------------ --- 35.1/38.6 MB 2.5 MB/s eta 0:00:02
   ------------------------------------ --- 35.4/38.6 MB 2.4 MB/s eta 0:00:02
   ------------------------------------ --- 35.7/38.6 MB 2.4 MB/s eta 0:00:02
   ------------------------------------- -- 35.9/38.6 MB 2.4 MB/s eta 0:00:02
   -------------------------------------- - 36.7/38.6 MB 2.4 MB/s eta 0:00:01
   -------------------------------------- - 36.7/38.6 MB 2.4 MB/s eta 0:00:01
   -------------------------------------- - 37.2/38.6 MB 2.4 MB/s eta 0:00:01
   ---------------------------------------  38.0/38.6 MB 2.4 MB/s eta 0:00:01
   ---------------------------------------- 38.6/38.6 MB 2.4 MB/s  0:00:16
Using cached threadpoolctl-3.6.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn

   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   -------------------- ------------------- 2/4 [joblib]
   -------------------- ------------------- 2/4 [joblib]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ---------------------------------------- 4/4 [scikit-learn]

Successfully installed joblib-1.5.2 scikit-learn-1.7.2 scipy-1.16.2 threadpoolctl-3.6.0

In [86]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder()

In [89]:
encoded_df = pd.DataFrame(encoder.fit_transform(df[['Airline', 'Source', 'Destination' ]]).toarray(), columns=encoder.get_feature_names_out())

In [91]:
pd.concat([df,encoded_df], axis=1)

,Airline,Source,Destination,Total_Stops,Additional_Info,Price,Month,Year,Arrival_Hour,Arrival_Minute,...,Source_Chennai,Source_Delhi,Source_Kolkata,Source_Mumbai,Destination_Banglore,Destination_Cochin,Destination_Delhi,Destination_Hyderabad,Destination_Kolkata,Destination_New Delhi
0,IndiGo,Banglore,New Delhi,0,No info,3897,3,2019,1,10,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,Air India,Kolkata,Banglore,2,No info,7662,5,2019,13,15,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,Jet Airways,Delhi,Cochin,2,No info,13882,6,2019,4,25,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,IndiGo,Kolkata,Banglore,1,No info,6218,5,2019,23,30,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,IndiGo,Banglore,New Delhi,1,No info,13302,3,2019,21,35,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,Kolkata,Banglore,0,No info,4107,4,2019,22,25,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
10679,Air India,Kolkata,Banglore,0,No info,4145,4,2019,23,20,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
10680,Jet Airways,Banglore,Delhi,0,No info,7229,4,2019,11,20,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
10681,Vistara,Banglore,New Delhi,0,No info,12648,3,2019,14,10,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
10682,Air India,Delhi,Cochin,2,No info,11753,5,2019,19,15,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [92]:
df.drop('Airline', axis=1, inplace=True)
df.drop('Source', axis=1, inplace=True)
df.drop('Destination', axis=1, inplace=True)

In [93]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Total_Stops       10683 non-null  int64
 1   Additional_Info   10683 non-null  object
 2   Price             10683 non-null  int64
 3   Month             10683 non-null  int64
 4   Year              10683 non-null  int64
 5   Arrival_Hour      10683 non-null  int64
 6   Arrival_Minute    10683 non-null  int64
 7   Departure_Hour    10683 non-null  int64
 8   Departure_Minute  10683 non-null  int64
 9   Duration_Hour     10683 non-null  int64
 10  Duration_Minute   10683 non-null  int64
dtypes: int64(10), object(1)
memory usage: 918.2+ KB